

@media screen and (max-width: 1160px) {


    .navbar .form {
        max-width: 27%;
        /* background-color: red; */
        /* display: none; */
    }

    .navbar input {
        max-width: 87%;
        /* display: none; */
    }
    .main-second .second-content p{
        display: none;
    }
}

@media screen and (max-width: 1189px) {

    #modal01,
    #modal02,
    #modal3,
    #modal4,
    #mod5,
    #mod6,
    #modal7,
    #modal8,
    #modal9,
    #modal10 {
        width: 100vw;
        position: absolute;
        left: 0;
    }
    .seventh2-img{
        background-position: right;
        background-size: cover;
    }
}

@media screen and (max-width: 1159px) {

    .navbar .opt1:nth-child(2),
    .navbar .opt1:nth-child(3) {
        display: none;
    }

    /* .navbar #menu{
        display: none;
    } */

    .navbar .form {
        min-width: 37%;
        /* display: none; */
    }

    .navbar input {
        max-width: 87%;
    }

    #modal01,
    #modal02,
    #modal3,
    #modal4,
    #mod5,
    #mod6,
    #modal7,
    #modal8,
    #modal9,
    #modal10 {

        display: none !important;
    }

    .sixth-content{
        display: flex;
        flex-direction: column;
        gap: 50px;
        .sixth1{
            width: 70%;
            /* background-color: red; */
            margin: auto;
            justify-content: center;
            align-items: center;
        }
    }

}


@media screen and (max-width: 930px) {

    .navbar .form {
        min-width: 20%;
    }

    .navbar input {
        max-width: 77%;
    }
}

@media screen and (max-width: 899px) {
    .seventh-content{
        height: 200vh;
        border-radius: 5px;

        /* background-color: red; */
    }
    .seventh_content{
        overflow-y: hidden;
        border-radius: 5px;

    }

    .seventh1{
        flex-direction: column;
        width: 720px;
        height: 850px;
        overflow: hidden;
        border-radius: 5px;
        /* background-color: red; */

        .seventh-vid {
            height: fit-content;
            width: fit-content;
            border-radius: 5px;

            /* background-color: red; */
            video{
                width: 120%;
                height: 100%;
                border-radius: 5px;
            }
        }
    }
    .seventh2{
        height: 500px;
        flex-direction: column;
        .seventh-text{
            padding-top: 20px;
            position: absolute;
        }
        .seventh2-img{
            /* background-size: cover; */
            background-image: url(logo-maker2x.webp);
            background-size: 100%;
            background-position: bottom;
            /* background-color: red; */
            width: 100%;
            height: 100%;

        }
    }
    .seventh1-text{
        width: fit-content;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }
    .seventh-text{
        width: fit-content;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }



    .main-first h3{
        font-size: 45px;
    }

    .main-content {
        display: none;
    }

    .main-container {
        background-color: white;
    }

    .navbar .opt1:nth-child(1),
    .navbar .opt1:nth-child(4) {
        display: none;
    }

    .navbar .form {
        min-width: 40%;
        width: 800px;
        /* background-color: red; */
        /* display: none; */
    }

    .navbar input {
        max-width: 100%;
        /* background-color: green; */
    }

    .form button {
        display: none;
    }

    .main-contents2 {
        display: flex;
    }

    .byjoin {
        display: block;
    }

    .side_menu #menu {
        display: block;
        inline-size: 30px;

        img {
            display: block;
        }
    }

    #menuss {
        display: block;
        background: red;
    }

    .first {
        background-color: #0d4228;
        animation-iteration-count: 0;
        height: 70vh;
    }

    .label {
        opacity: 0;
        animation-iteration-count: 0;

    }

    .pop {
        display: none;
    }

    .search {
        display: flex;
        flex-direction: column;
        gap: 10px;

        svg {
            display: none;
            position: relative;
        }
        .inp{
            width: 100%;
            input{
                width: 100%;
            }
            /* background-color: red; */
        }

        #svg2 {
            width: 100%;
            height: 50px;
            border: none;
            outline: none;
            display: flex;
            align-items: left;
            border-radius: 5px;
            background-color: #1CBF73;

            #svg {
                display: block;
                border-radius: 5px;

            }
        }
        
    }
    .second-content img{
        width: 60px;
    }
    .main-fourth{
        height: fit-content;
        padding: 50px 0 50px 0;
        /* gap: 50px; */
    }
    .fourth_text{
        width: 100%;
    }
    .fourth-content{
        gap: 50px;
        flex-direction: column;

        video{
            width: 100%;
            border-radius: 5px;
        }
    }
    .nine2{
        background-color: rgb(58, 0, 13);
        background-image: none;
    }


}

@media screen and (max-width: 600px) {
    .sixth-content img {
        width: 70%;
    }


    .main-first h3{
        font-size: 25px;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .main-ten {
        display: none;
    }

    .main-ten2 {
        display: flex;
    }

    .nav-bar2 {
        display: none;
    }

    .navbar .form {
        display: none;
    }

    .navbar input {
        display: none;
    }

    #side_menu {
        width: 10%;
        /* background-color: red; */
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar .opt1:nth-child(5) {
        display: none;
    }

    #joinbtn button {
        border: 0;
        color: rgb(112, 112, 112);
        font-size: 18px;
        display: block;
        /* background-color: red; */
    }

    #joinbtn button:hover {
        background: none;
    }



    .social-footer1 {
        height: fit-content;
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
    }

    .social-footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .social-footer2 {
        display: flex;
        flex-wrap: wrap;
        /* flex: 10; */
        align-items: center;
        justify-content: center;
    }

    .main-first{
        width: 90%;
        
        margin: auto;
        /* background-color: rgb(145, 57, 57); */
        h3{
            font-size: 35px;
        }
    }
    .second-content{
        gap: 15px;
    }
    .second-content img:last-child{
        display: none;
    }

    .second-content img{
        width: 50px;
    }


}

@media screen and (max-width: 659px){
    .first{
        height: 91vh;
    }
}

@media screen and (max-width: 390px) {
    #or {
        display: none;
    }
}