* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.main-container {
    width: 100vw;
    height: fit-content;
    /* overflow-x: hidden; */
    overflow-x: hidden;
}

.first {
    width: 100%;
    height: fit-content;
    padding: 25px 0 25px 0;
    position: relative;
    background-color: #F5F5F5;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

.navbar {
    width: 100vw;
    height: 80px;
    margin: auto;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px .2px .1px black;
    /* position: fixed; */

    .nav-bar {
        width: 95vw;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background: red; */
    }

    .nav-opt1 a {
        color: black;
        text-decoration: none;
        font-family: "Helvetica Neue";
    }

    .nav-opt1 {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .nav-opt1 svg:nth-child(2):hover {
        background: none;
    }

    .nav-bar21 {
        width: fit-content;
        height: fit-content;

    }

    .nav-opt1 button {
        display: none;
        border: none;
        background: none;
        outline: none;

        .nav-bar2 {
            height: 100vh;
            width: fit-content;
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            flex-direction: column;
            align-items: left;
            padding: 0 15px 0 15px;
            z-index: 2;
            background: white;
            padding-top: 25px;

            display: none;

            .acct {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .acct-details {
                width: fit-content;
                display: flex;
                flex-direction: column;
                /* /* align-items: center; */
                /* justify-content: left; */
                text-align: left;

                /* background: red; */
                span {
                    color: #9f9f9f;
                }
            }

            .opt1:nth-child(2) {
                border-top: none;
            }

            .opt1 {
                font-size: 17px;
                color: #696C71;
                width: 200px;
                height: 70px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-top: .7px solid #DADBDD;
                border-radius: 0;
                /* background-color: #1CBF73; */
            }


            .opt1:hover {
                background: none;
            }

            .profile {
                width: 35px;
                height: 35px;
                border-radius: 100%;

            }
        }

    }


    .opt1 {
        width: fit-content;
        height: 40px;
        display: flex;
        flex-direction: center;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        padding: 0 10px 0 10px;
        border-radius: 5px;

        /* background-color: red; */
        .material-symbols-outlined {
            color: black;
        }
    }

    .nav-opt2 {
        width: fit-content;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        /* background-color: red; */
    }

    .nav-opt2 button {
        border: none;
        outline: none;
        background: none;

        input {
            display: none;

        }
    }

    .nav-opt2 svg {
        padding: 10px;
        fill: #8F9094;
        position: relative;
    }

    .nav-opt2 svg:nth-child(2) {
        display: none;
        position: absolute;
        /* display: none; */
        fill: #686869;
        z-index: 4;
        left: 660px;
        top: 105px;
    }

    .nav-opt2 svg:nth-child(2):hover {
        background: none;
    }

    .nav-opt2 button:focus-within {

        svg:nth-child(2) {
            display: block;
            position: absolute;
            /* display: none; */
            fill: #686869;
            z-index: 4;
            left: 30%;
            top: 125px;
        }

        input {
            display: block;
            position: absolute;
            top: 120px;
            width: 400px;
            padding: 20px 20px 20px 60px;
            height: 10px;
            left: 30%;
            border: none;
            font-size: 15px;
            color: black;
            background-color: rgb(255, 255, 255);
            border-radius: 3px;
            z-index: 2;
        }

        /* button:focus-within input{
            border: none;
        } */

    }

    input:focus {
        border: none;
        outline: none;
    }

    .nav-opt2 .notification {
        width: 40px;
        height: 40px;
        /* padding: -10px; */
        display: flex;
        align-items: center;
        fill: #8F9094;
        position: relative;
        /* background: blue; */
    }

    .nav-opt2 .notification:after {
        content: ' ';
        top: 15%;
        right: 5%;
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 100%;
        background-color: #C14A82;
    }

    .nav-opt2 .msg {
        width: 40px;
        height: 40px;
        /* padding: -10px; */
        display: flex;
        align-items: center;
        fill: #8F9094;
        position: relative;
        /* background-color: red; */
    }

    .nav-opt2 .msg:after {
        content: "20";
        top: 15%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 9px;
        font-style: bolder;
        right: 5%;
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        background-color: #C14A82;
    }

}

.opt1:hover,
.nav-bar svg:hover {
    background-color: #f5f5f5;
}

/* .nav-opt2 svg path::after {
    content: " ";
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: absolute;
    background-color: red;
} */

.profile {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: relative;
    background-image: url(profile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: red; */
}

.profile:after {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 100%;
    right: 0;
    bottom: 0;
    border: 1px solid white;
    position: absolute;
    background-color: green;
}

.bal {
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    font-size: 15px;
}

.first-container {
    width: 95%;
    height: 95%;
    display: flex;
    align-items: top;
    justify-content: space-between;
    gap: 40px;
    /* background-color: red; */
}

.first1-opt {
    width: 450px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    /* background-color: rgb(116, 34, 34); */

    .first1-opt1 {
        width: 450px;
        height: 750px;
        display: flex;
        /* align-items: center; */
        justify-content: center;
        background-color: white;
        box-shadow: .8px .8px .8px rgba(43, 42, 42, 0.183);

    }

    .opt3 {
        width: 90%;
        height: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
        /* background-color: white; */

        .options1 {
            width: 90%;
            height: 350px;
            padding-bottom: 20px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            /* padding: 0 10px 0 10px; */
            /* background-color: green; */
            align-items: center;
            border-bottom: .5px solid #898A8E;

            .profile2 {
                width: 150px;
                height: 150px;
                border-radius: 100%;
                position: relative;
                background-image: url(profile.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .username {
                font-size: 20px;
                display: flex;
                align-items: center;
                gap: 8px;
            }

            .status {
                font-size: 15px;
                font-weight: lighter;
                color: #04d500;
                border: 1px solid #04d500;
                border-radius: 20px;
                padding: 0px 5px 0px 5px;
                position: absolute;
                top: 40px;
                right: 0px;
            }
        }

        .options2 {
            width: 90%;
            height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            border-bottom: .5px solid #898A8E;
            padding: 20px 0 20px 0;

            .rate,
            .rate2 {
                width: 100%;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                /* background-color: red; */
            }

            .rate p,
            .rate2 p,
            span {
                /* padding: 5px; */
                color: #898A8E;

            }
        }
        .options2a {
            width: 90%;
            height: 100px;
            display: flex;
            flex-direction: column;
            /* align-items: center; */
            /* justify-content: space-between; */
            padding: 0px 0 0px 0;
            /* background-color: red; */

            .rate{
                width: 100%;
                height: 70px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                /* background-color: red; */
            }

            .rate p {
                /* padding: 5px; */
                color: #898A8E;

            }
        }

        .options3 {
            width: 95%;
            height: 70px;
            align-items: center;
            color: #898A8E;
            display: flex;
            justify-content: space-between;
            /* background-color: red; */
        }

    }


    .opt2 {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        background-color: white;
        box-shadow: .5px .5px rgba(0, 0, 0, 0.355);

        .opt2-content {
            width: 35%;
            height: 40px;
            /* align-items: center; */
            display: flex;
            color: #5d5d5d;
            font-weight: 100;
            gap: 5px;
            /* justify-content: space-between; */
            padding: 30px 0 0 20px ;
            /* background-color: red; */

        }
    }
    .opt2b {
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
        box-shadow: .5px .5px rgba(0, 0, 0, 0.355);

        .opt2-content {
            width: fit-content;
            height: 40px;
            /* align-items: center; */
            display: flex;
            color: #5d5d5d;
            font-weight: 100;
            gap: 5px;
            /* justify-content: space-between; */
            padding: 30px 0 0 20px ;
            /* background-color: red; */

        }
    }
    .opt2c {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        background-color: white;
        padding-bottom: 20px;
        box-shadow: .5px .5px rgba(0, 0, 0, 0.355);

        .opt2-content {
            width: 35%;
            height: 40px;
            /* align-items: center; */
            display: flex;
            color: #5d5d5d;
            font-weight: 100;
            gap: 5px;
            /* justify-content: space-between; */
            padding: 30px 0 0 20px ;
            /* background-color: red; */

        }
    }
    .opt2d {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-around;
        background-color: white;
        padding-bottom: 20px;
        box-shadow: .5px .5px rgba(0, 0, 0, 0.355);

        .opt2-content {
            padding: 20px 0 20px 0px;
            width: 90%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            color: #000000;
            margin: auto;
            gap: 5px;
            justify-content: space-between;
            border-bottom: 1px solid rgba(128, 128, 128, 0.745);
        }
        .opt2-content1 {
            padding: 0px 0 40px 0px;
            width: 90%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            /* background-color: red; */
            color: #000000;
            margin: auto;
            /* gap: 5px; */
            justify-content: space-between;
            gap: 20px;
            border-bottom: 1px solid rgba(128, 128, 128, 0.745);
        }
    }
}

.gigs{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-between;
    gap: 10px;
    /* background-color: red; */
    .gig1{
        width: 250px;
        height: 300px;
        /* background-color: yellow; */
        background-color: white;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.351);
        .gigimg{
            width: 100%;
            height: 60%;
            position: relative;
            background-image: url(design\ 4.jpeg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            /* background-color: green; */
        }
        
        .gigtitle{
            padding: 10px 10px 0 10px;
            display: flex;
            height: 35%;
            flex-direction: column;
            justify-content: space-between;
            .gigprice{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

        }
    }
    
    .addgig{
        width: 250px;
        height: 300px;
        /* background-color: yellow; */
        background-color: white;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.351);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-direction: column;
    }
}
#gigimg2{
    background-image: url(design\ 5.jpeg);
}
#gigimg3{
    background-image: url(design\ 3.jpg);
}
#gigimg4{
    background-image: url(design\ 1.jpg);
}
#gigimg5{
    background-image: url(design\ 6.jpeg);
}
#gigimg6{
    background-image: url(design\ 2.jpg);
}

.first2-opt {
    width: 55vw;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 15px;

    .first2-opt1 {
        width: 97%;
        height: 65px;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        gap: 5px;
        padding-left: 20px;
        word-spacing: 5px;
        background-color: rgb(255, 255, 255);

        p {
            color: rgb(94, 94, 94);
            font-weight: 100;

        }

        h2 {
            font-weight: 700;
            color: #45464A;
        }
    }
}
.reviews{
    width: 100%;
    /* min-width: 450px !important; */
    height: fit-content;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.573);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 20px 0;
    .reviews-content{
        width: 90%;
        height: 90%;
        /* background-color: red; */

    }
}


.main-ten {
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgba(48, 48, 48, 0.234);
}

.ten-content {
    width: 92%;
    height: 80%;
    margin: auto;
    display: flex;
    align-items: top;
    padding: 20px 0 20px 0;
    justify-content: space-between;
    /* gap: 300px; */
    /* background: red; */
}

.ten-list1 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-decoration: none;
    color: #404145;
    font-size: 17px;
}

.ten-list1 a {
    text-decoration: none;
    color: #73767D;
    font-size: 15px;
}

#more-options {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#more-options p {
    font-size: 14px;
    color: #b4b4b4;
}

.ten-list1 a:hover {
    text-decoration: underline;
}

.social-footer {
    width: 92%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: .8px solid #c2c2c2;
    /* background: blue; */
}

.social-footer1 {
    width: fit-content;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    /* background: red; */
}

.social-footer1 p {
    font-size: 14px;
    padding-top: 10px;
    color: #C8C9CC;
}

.social-footer2 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.social-footer2 a {
    color: #74767E;
    padding: 9px;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.social-footer2 .currency {
    font-size: 15px;
    color: #74767E;
}

.social-footer2 .lang {
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #74767E;
}

.social-footer2 .lang .material-symbols-outlined {
    font-weight: 300;
    font-size: 20px;
}

.social-footer2 a {
    text-decoration: none;
}

.social-footer2 a:hover {
    background-color: #c9c9c940;
    transition: all 300ms ease;
}

.main-ten2 {
    width: 100vw;
    padding: 10px 0 10px 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;

    .main-ten21 {
        width: 100%;
        height: 95%;
        padding: 20px 0 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        justify-content: space-around;
        color: rgb(0, 0, 0);
        /* background: red; */

        button {
            outline: none;
            border: none;
            width: 90%;
            background: none;

            .drop{
                display: none;
            }

            
            .ten21-text {
                padding: 20px 0 20px 0;
                display: flex;
                font-size: 15px;
                align-items: center;
                font-weight: 200;
                color: rgb(83, 83, 83);
                justify-content: space-between;
                /* background: rgb(239, 161, 161); */
            }

        }

    }
    .main-ten21 button:focus-within{
        .drop{
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: left;
            text-align: left;
            gap: 13px;
            justify-content: space-between;
            
            a{
                text-decoration: none;
                color: #74777E;
                font-size: 17px;
                font-weight: 100;
                
            }
            a:hover{
                text-decoration: underline;
            }
        }
    }
    .social-footer{
        padding: 10px 0 10px 0;
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: center;

        p{
            color: rgba(129, 129, 129, 0.808);
            font-size: 13px;
        }
    }
    .last{
        width: fit-content;
        display: flex;
        gap: 10px;
        /* flex-direction: column; */
        justify-content: space-between;
        align-items: center;

        a{
            text-decoration: none;
            color: #7C7F87;
            display: flex;
            align-items: center;
            /* background: red; */
        }
        .lang{
            display: flex;
            align-items: center;
        }
        
    }
    
}
.nav-opt1 svg:hover{
    background: none;
}